.footer{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top: solid;
        border-color: #D4B25B ;
        border-width: 4px;
        font-family: 'Inter', sans-serif;
        font-size: x-large;
        margin-top: 10px;
        padding: 20px;
}     

.first-row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
}

.second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
}

@media (max-width: 768px){
.second-row{
        margin-top: 15px;
        border-top: solid;
        border-width: 5px;
        border-color: #D4B25B;
}}

.metropole {
        width: 30%;
}

@media (max-width: 768px){
.metropole {
        width: 25%;
}}

.bordeaux {
        max-width: 100%;
        max-height: 100%;
}

@media (max-width: 768px){
.bordeaux {
        margin-top: 15px;
}}

.bordeaux a img {
        transition: transform 0.3s ease;
}

.bordeaux a img:hover {
        transform: scale(1.2);
}

.reseaux {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
}

@media (max-width: 768px){
.reseaux {
        margin-top: 15px;
}}

.reseaux li a img {
        width: 3.5rem;
        transition: transform 0.3s ease;
}

@media (max-width: 768px){
.reseaux li a img {
        width: 140%;
}}

.reseaux li a img:hover {
        transform: scale(1.2);
}