.footer{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top: solid;
        border-color: #D4B25B ;
        border-width: 4px;
        font-family: 'Inter', sans-serif;
        font-size: x-large;
        margin-top: 10px;
        padding: 20px;
}     

.first-row{
        display: flex;
        justify-content: space-around;
        flex-direction: row;

}

.second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.metropole {
        width: 25%;
        max-width: 50%;
}

.bordeaux {
        display: flex;
        align-items: center;
}

.bordeaux a img {
        transition: transform 0.3s ease;
}

.bordeaux a img:hover {
        transform: scale(1.2);
}

.reseaux {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
}

.reseaux li a img {
        width: 3.5rem;
        transition: transform 0.3s ease;
}

.reseaux li a img:hover {
        transform: scale(1.2);
}